body{
	font-family: 'Source Sans Pro', sans-serif;
	max-width: 700px;
	width: 80%;
	float: center;
	border: 20px solid #bdc3c7;
	padding: 20px;
	margin: 20px auto;

}

p{
	/*line-height: 1.5px;*/
	
}

.p1{
	padding-left: 4px;
	border-left: 4px solid #bdc3c7;
}

h3{
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #2c3e50;
}